<!-- <app-ngwheelcustom></app-ngwheelcustom> -->

<!-- <app-home></app-home> -->
 <router-outlet />

<!-- <app-reactive-example></app-reactive-example> -->





<!-- custom toastr  -->
<div class="toastrClass"[ngClass]="{'toastrOn': this.toastrService.toastrOn, 'toastrOff':this.toastrService.toastrOff}">
   <div class="toastrBox" style="min-height: 70px;" [ngClass]="{'success':this.toastrService.toastrStatus == 1, 'fail':this.toastrService.toastrStatus == 0, 'warning' : this.toastrService.toastrStatus == 2}">
    <div class="dynamicButton fs-2">
        @if(this.toastrService.toastrStatus == 0){
            <i class="fas fa-times cursor" (click)="closeToast()"></i> 
        }@else if(this.toastrService.toastrStatus == 1){
            <i class="fas fa-check cursor" (click)="closeToast()"></i>  
        }@else if(this.toastrService.toastrStatus == 2){
            <i class="fas fa-exclamation-triangle cursor" (click)="closeToast()"></i> 
        }
           

    </div>
    <div class="ms-2" style="line-height: 22px;">
        <p class="fw-bold fs-5 m-0">{{this.toastrService.toastrTitle}}</p>
        <p class="m-0">{{this.toastrService.toastrMessage}}</p>
    </div>
   
   </div>
</div>